body {  
	background:#111 url(../img/game_background_layer_black.png) repeat-x top center;
  color:#888888;
  font-size:0.8em;
  font-family:Arial;
}

a, a:visited {
  color:#999999;
}

canvas {
  /*position:absolute;*/
  position:relative;
  left:130px; bottom:10px;
  background:url(../assets/game_background_layer_3.png);
}

.rhFont {
  font-family: 'Luckiest Guy', cursive;
  color:#B0C081;
  text-shadow: 1px 1px 1px #8C724D;
}

#highscore {
  background:url(../assets/score_bg.png) left no-repeat;
  position:absolute;
  width:99px; height:25px;
  bottom:245px;
  left:135px; top:5px;
  z-index:999;
  text-align:center;
  font-size:1.2em;
  padding-top:4px;
}
.button {
  cursor:pointer;
  padding-top:18px;
  display:none;
  background:url(../assets/button_bg.png) left no-repeat;
  position:absolute;
  width:150px; height:38px;
  z-index:999;
  text-align:center;
  font-size:1.2em;
}
#slide-container {
  margin:auto;
  position:relative;
  width:680px;height:auto;
  overflow:hidden;
  margin-top:280px;
  /*background:url(../assets/smartphone.png) left center no-repeat;*/
}
.slide-wrapper {
  overflow:hidden;
  height:auto;
  position:relative;
}

.slide {
  position:relative;
  float:left;
  
}

#slideInfo {
  height:280px;
}

#slideInfo .content {
  margin:30px 0 0 80px;
}

#footer {
  text-align:center;
  width:600px;
  margin:auto;
}

#nextButton {
  position:absolute;
  right:0px; bottom:80px;
}

#prevButton {
  position:absolute;
  left:-5px; bottom:120px;
}