body {  
	background:#111 url(../img/game_background_layer_black.png) repeat-x top center;
  color:#888888;
  font-size:0.8em;
  font-family:"Courier New";
}

a, a:visited {
  color:#999999;
}

h1 {
  margin:0;
}

canvas {
  /*position:absolute; */
  position:relative;
  left:70px; bottom:0px;
  background:url(../assets/game_loading.jpg);

}

.canvasGameBackground { background:url(../assets/game_background_layer_3.png); }

.rhFont {
  font-family: 'Luckiest Guy', cursive;
  color:#B0C081;
  text-shadow: 1px 1px 1px #8C724D;
}

#highscore {
  background:url(../assets/score_bg.png) left no-repeat;
  position:absolute;
  display:none;
  width:99px; height:25px;
  bottom:245px;
  left:75px; top:5px;
  z-index:999;
  text-align:center;
  font-size:1.2em;
  padding-top:4px;
}
.button {
  cursor:pointer;
  padding-top:18px;
  display:none;
  background:url(../assets/button_bg.png) left no-repeat;
  position:absolute;
  width:150px; height:38px;
  z-index:999;
  text-align:center;
  font-size:1.2em;
}
#slide-container {
  margin:auto;
  position:relative;
  width:780px; height:auto;
  overflow:hidden;
  margin-top:190px;
}
.slide-wrapper {
  overflow:hidden;
  height:auto;
  position:relative;
}

.slide {
  position:relative;
  float:left;
}

#slideInfo {
  height:280px;
}

#slideInfo .content {
  margin:40px 0 0 100px;
}

#footer {
  text-align:center;
  width:600px;
  margin:auto;
  margin-top:4em;
}

#nextButton, #prevButton, #nextButtonHs, #prevButtonHs  { 
  cursor:pointer;
  position:absolute;
}

#nextButton {
  right:-22px; bottom:120px;
}

#prevButton {
  left:-5px; bottom:120px;
}

#nextButtonHs, #prevButtonHs {
  top:60px;
}

#nextButtonHs { right:-20px;  }
#prevButtonHs { left:-20px; }

#scoreForm {
  font-family: 'Luckiest Guy', cursive;
  width:380px;
  margin:auto;
  margin-bottom:2em;
  display:none;
}

#scoreForm input {
  font-family: 'Luckiest Guy', cursive;
  padding:4px;
  border:1px solid #000;
  font-size:1.2em;
  background:#111;
  color:#F6F6F6;
}

#slideHs {}

span.hsName { margin-left:1em; }
span.hsScore { float:right; }

#hs-list {
  font-family: 'Luckiest Guy', cursive;
  position:absolute;
  width:480px;
  left:80px; top:50px;
  list-style-type:decimal;
  overflow:auto;
  color:#CCC;
}

.first  { color:#FFE66B; }
.second { color:#999999; }
.third  { color:#663300; }

.key {
  border-radius:7px;
  padding:4px;
  text-align:center;
  background-color:#111;
  border:1px solid #CCC;
  margin-right:4px;
}

RunnersHigh is a jump&run game based on the equal named Android game. Help the hungry dinosaur to get as far as possible by jumping from platform to platform. Increase your points 200+ by eating a goody. Encounter fire, which lets you jump higher - or a spider web, which slows the hungry dinosaur down.


The entire (and newest) code can be found on Github: https://github.com/webarbeit/RH---HTML5

I was interested in how easy it is to port the Android game to HTML5 canvas. Although it is my first game and the performance isn't the best, I am still surprised about how fast one can code a game in Javascript.